<h1>Angular Animations Shenanigans</h1>
<h2>Home</h2>




<div ng-controller="GalleryCtrl">
    <div id="header">
        <h2>{{currentModel.name}}</h2>
        <p>{{currentModel.description}}</p>
    </div>
    <div id="modelGallery">
        <div ng-if="currentModel == null">
            <p id="demo"></p>
            <td>{{loadModel(model.currentModel)}}</td> 
        </div>

        <iframe src="" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>

    </div>
    <div id="footer">
        <p>Options</p>
        <div id="thumbWrapper">

        	

			
            <!-- <image id="return" ng-src="img/tn_IMG_0001.jpg" ng-click="back()" > -->

            <ul id="thumbList">
                <a href="#!about"><i class="material-icons" style="font-size: 100px">arrow_back</i></a>
                <li ng-repeat="model in models" ng-click="loadModel(model);">
                    <image ng-src="{{model.thumbnail}}" alt="{{model.description}}">
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
document.getElementById("demo").innerHTML = "currentModel is null";

    $(function () {  
        $("#api-frame").load(function () {                        
            frames["api-frame"].document.body.innerHTML = htmlValue;
        });
    }); 

</script>