<!DOCTYPE HTML>
<html ng-app="app2" ng-cloak>
<style>
    // Hidden class

    
</style>
<head>
    <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.0.1.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="gallery.js"></script>
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="gallery.css">
</head>

<body>
    <div class="wrapper">

    <div ng-controller="GalleryCtrl">
        <div id="header">
            <h2>{{currentModel.name}}</h2>
            <p>{{currentModel.description}}</p>
        </div>
        <div id="modelGallery">
            <div ng-if="currentModel == null">
                <p id="demo"></p>
                <td>{{loadModel(models[0])}}</td>
            </div>

            <iframe src="" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" width="400" height="200px"></iframe>

        </div>
        <div id="footer">
            <p>Options</p>
            <div id="thumbWrapper">
                <ul id="thumbList">
                    <li ng-repeat="model in models" ng-click="loadModel(model);">
                        <image ng-src="{{model.thumbnail}}" alt="{{model.description}}">
                    </li>
                </ul>
            </div>
        </footer>

        

    </div>

  <!-- Insert an empty iframe, hidden by default using a class-->
  
  <!-- Initialize the viewer -->

<script>
document.getElementById("demo").innerHTML = "currentModel null";

</script>
</body>



</html>